


<script id="cad-card-template" type="text/x-handlebars-template">
  <div class="card" data-id="{{ id }}">
    <header class="content">
      <div>{{ name }}</div>
    </header>
    <div class="image">
      <img src="{{ img_url }}" alt="">
    </div>
  </div>
</script>

<script src='/assets/javascript/cads_search.js'>

</script>
