
<script id="cad-card-template" type="text/x-handlebars-template">
  <div class="card" data-id="{{ id }}">
    <header class="content">
      <div>{{ description }}</div>
    </header>
    <div class="image">
      <img src="{{ image_url }}">
    </div>
  </div>
</script>
<div class="cad_wrapper">
  </div>
