<div class='container'>

  <form action="/jobs" method="post">
    <h2>Create a new job request</h2>
    <div class="item">
      <input type="hidden", name='authenticity_token' value="<%= form_authenticity_token %>">
      <label for="">Description</label>
      <input class='input-style' type="text" name="description">
      <br>
      <label for="">Image</label>
      <input class='input-style' type="text" name="job_img">
      <br>
      <label>Material</label>
      <input class='input-style' type="text" name="material">
    </div>


    <div class="item">
      <button>Create</button>
    </div>

  </form>
</div>
