<div class='container'>

  <form action="/jobs" method="post">

    <div class="item">
      <input type="hidden", name='authenticity_token' value="<%= form_authenticity_token %>">
      <label for="">description</label>
      <input type="text" name="name">
      <label for="">image</label>
      <input type="text" name="job_img">
      <label>material</label>
      <input type="text" name="material">
    </div>


    <div class="item">
      <button>Create New Job Request</button>
    </div>

  </form>
</div>
