<div class="wrapper">

  <div class="job">
    <form class='new-job-form'>
      <label>Description</label>
      <br>
      <textarea rows="5" cols="80" class='new-job-description'>
      </textarea>
      <br>
      <label>Image url</label>
      <input type="text" class="new-job-image">
      <label>Desidered material</label>
      <input type="text" name="material">
      <br>
      <button class="new-job-action">Create New Job</button>
    </form>
  </div>

</div>

<script id="job-template" type="text/x-handlebars-template">
  <div class="job" data-id= {{id}} >
    <h1>My Jobs:</h1>
    <header class="content">
      {{ description }}
    </header>
    <div class="image">
      <img class='job-img' src="{{ job_img }}" />
    </div>
    <footer class="content footer">
      <div><span class="delete-action item">Cancel Job</span></div>
      <div><span class="edit-action item">Edit Job</span></div>
    </footer>
    <div>
      <ul>
        <!-- insert script for bids -->
      </ul>
    </div>
  </div>
</script>

<script id="job-edit-template" type="text/x-handlebars-template">
  <div class="job" data-id= {{id}} >
    <header class="content">
      {{ description }}
    </header>
    <footer class="content">
      <form class='edit-job-form'>
        <label>name</label>
        <input type="text" class="job-edit-description" value="{{ description }}">
        <label>image url</label>
        <input type="text" class="job-edit-job_img" value="{{ job_img }}">
        <label>material</label>
        <input type="text" class="job-edit-material" value="{{ material }}">
        <button class="job-edit-button">Edit Job</button>
      </form>
    </footer>
  </div>
</script>

<input type="hidden" value="<%= session[:user_id] %>" id="session-id">
