<form action="/users/choise" method="post">

  <input type="hidden", name='authenticity_token' value="<%= form_authenticity_token %>">
  <label for="">name</label>
  <input type="text" name="name">

  <label for="">lastname</label>
  <input type="text" name="last_name"></input>

  <label for="">email</label>
  <input type="text" name="email"></input>

  <label for="">choose a password</label>
  <input type="password" name="password"></input>

  <button>Create User</button>

</form>
