<div class='container'>

  <form action="/users" method="post">

    <div class="item">
      <input type="hidden", name='authenticity_token' value="<%= form_authenticity_token %>">
      <label for="">name</label>
      <input type="text" name="name">
    </div>

    <div class="item">
      <label for="">lastname</label>
      <input type="text" name="last_name"></input>
    </div>

    <div class="item">
      <label for="">email</label>
      <input type="text" name="email"></input>
    </div>

    <div class="item">
      <label for="">choose a password</label>
      <input type="password" name="password_digest"></input>
    </div>

    <div class="item">
      <button>Create User</button>
    </div>

  </form>
</div>
