<div>
  <h1>How it Works?</h1>
  
<p>Do you need a mechanical part is no more avaliable in the market? Do you have a 3Dprinter
  you wish to use more often?(and maybe get some money from it). Are you a CAD designer?

  This is the place were you can met and work together!

  Find your desired design in our database and someone with a 3dPrinter to create for you.
  Or, if you can't find what you are looking for just ask our designer to draw for you!

</p>

</div>
