<div class="wrapper">

  <script id="job-template" type="text/x-handlebars-template">
    <div class="job" data-id= {{id}} >
      <header class="content">
          {{description}}
          {{material}}
      </header>
      <div class="image">
        <img src={{image_url}} />
      </div>
      <footer class="content">
        <div><span class="delete-action">Delete</span></div>
        <div><span class="edit-action">Edit</span></div>
      </footer>
      <div>
        <ul>
          <!-- insert script for bids -->
        </ul>
      </div>
    </div>
  </script>

  <script id="job-template" type="text/x-handlebars-template">
    <div class="job" data-id= {{id}} >
      <header class="content">
          {{description}}
          {{material}}
      </header>
      <div class="image">
        <img src={{image_url}} />
      </div>
      <footer class="content">
        <div><span class="delete-action">Cancel Job</span></div>
        <div><span class="edit-action">Edit Job</span></div>
      </footer>
      <div>
        <ul>
          <!-- insert script for bids -->
        </ul>
      </div>
    </div>
  </script>

  <script id="job-edit-template" type="text/x-handlebars-template">
    <div class="job" data-id= {{id}} >
      <header class="content">
          {{description}}
          {{material}}
      </header>
      <footer class="content">
        <form class='edit-job-form'>
          <label>description</label>
          <input type="text" class="edit-job-description" value="{{description}}">
          <label>material</label>
          <input type="text" class="edit-job-material" value="{{material}}">
          <label>image url</label>
          <input type="text" class="edit-job-image" value="{{image_url}}">
          <button class="edit-job-button">Edit Job</button>
        </form>
      </footer>
    </div>
  </script>

  <div class="job">
    <form class='new-job-form'>
      <label>description</label>
      <input type="text" class="new-job-description">
      <label>material</label>
      <input type="text" class="edit-job-material" value="{{material}}">
      <label>image url</label>
      <input type="text" class="new-job-image">
      <button class="new-job-action">Create Job</button>
    </form>
  </div>

</div>
