<div id="navbar">
      <nav id="nav-bar">
          <a class="nav_box" href="/">Home</a>
          <a class="nav_box" href="/about">About Us</a>
          <a class="nav_box" href="/session/new">Log In</a>
          <a class="nav_box" href="/signup">Sign Up</a>
      </nav>
    </div>
