.job-img{
  width: 25%;
  border: 1px solid black;
  border-radius: 5px;
}

.job{
  /*border: 1px solid grey;*/
  border-radius: 5px;
  width: 40%;
  margin: 10px auto;
  padding: 10px;
  background-color: #d9ffb3;
}

.content{
  padding: 10px;
}

.delete-action, .edit-action{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
}
