@import url('https://fonts.googleapis.com/css?family=Audiowide|Raleway');

#navbar {
  width: 100%;
  height: inherit;
}

#nav-bar {

}

.nav_box {

}

#logo {
  font-family: Audiowide, cursive;
  font-size: 52pt;
}
