<!DOCTYPE html>
<html>
  <head>
    <title>Print_My_Ride</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js">
    </script>
  </head>

  <body>
    <header>
      <div id="navbar">
            <nav id="nav-bar">
                <a class="nav_box" href="/"><h1>Print My Ride</h1></a>
                <label>Search</label>
                <input type="text" name="search">
                <a class="nav_box" href="/create_job">Create Job</a>
                <a class="nav_box" href="/session/new">Log In</a>
            </nav>
          </div>
    </header>





    <%= yield %>
  </body>
</html>
